* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.back-link {
    display: flex;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
    margin-left:20px;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 60px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #777;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.phone-icon::before {
    content: "📞";
    font-size: 20px;
    margin-right: 10px;
    color: #666;
}

input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

.otp-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.zalo {
    background-color: #007bff;
    color: #fff;
}

    .zalo:hover {
        background-color: #0056b3;
    }

.sms {
    background-color: #28a745;
    color: #fff;
}

    .sms:hover {
        background-color: #218838;
    }

.benefits {
    list-style-type: none;
    text-align: left;
    color: #333;
    margin-top: 20px;
}

    .benefits li {
        margin-bottom: 10px;
        color: #555;
    }
