@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Order Success Paypal";
    
}
<h3>Payment Details</h3>
<p><strong>Token:</strong> @ViewBag.Token</p>
<p><strong>Payer ID:</strong> @ViewBag.PayerID</p>